.slideCarrousel{
    width:60%;
    height: 80%;
    
    .slide{

        margin-top: 10%;
        margin-bottom: auto;  
    
    }
    
    .title{
        color: aliceblue;
        margin-left: auto;
        margin-right: auto;
    }
    .parrafo{
        color: aliceblue;
        margin-left: auto;
        margin-right: auto;
    }
}