@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.containerLogin{
    background: black;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    .card{
        background: black;
       
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        width: 90%;
        .card-header{
            background: transparent;
            border-bottom: solid 2px rgba(98, 236, 236, 0.25);
            h4{
                text-align: initial;
                font-family: "Roboto";
                color: grey
            }
            .ilogin{
                font-size: 30px;
                margin-left: auto;
                color: grey;
            }
        }

    }
}
