
    h3{
        text-align: initial;
        margin-left: 3%;
        margin-top: 3%;
        padding: 0;
    }

    .control{
        width: 60%;
        margin-left:auto;
        margin-right: auto;
        margin-top: 20px;
        .label{
            color: aliceblue;
            width: 40%;
            text-align: end;
        }
        .input{
            height: 34px;
            width: 58%;
            margin-left: 2%;
        }       
    }

    .button{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        button{
       
            margin-left: auto;
            margin-top: 20px;
        }
    }
   